.card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding: 2%;
	width: 60%;
	background-color: rgba(255, 255, 255, 0.945);

	text-align: center;
	cursor: pointer;
	color: rgb(0, 0, 0);
	margin: 150px;
	padding-top: 4%;
	margin-left: 15%;
	border-radius: 3%;
	box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.81);
	border-radius: 20px;
}
.card .flag {
	float: left;
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	flex-direction: column;
}
.card .flag h2 {
	width: 400px;
	text-align: center;
}
.card .flag img {
	width: 400px;
	height: 300px;
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 10px;
}
/* .card:hover .flag {-webkit-transform:scale(1.3);transform:scale(1.3);}
.flag {overflow:hidden;} */
.card .cont {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	padding-left: 90px;
	padding-top: 80px;
}
.card .cont .detail .details {
	width: 50%;
	float: left;
}
.card .cont .detail .activities {
	float: right;
}

@media screen and (max-width: 800px) {
	.card {
		width: 80%;
		padding: 4%;
	}
	.card .flag {
		float: none;
	}
	.card .flag h2 {
		font-size: large;
		width: 60%;
		margin: auto;
		padding-bottom: 5%;
	}
	.card .flag img {
		margin: auto;
		width: 200px;
		height: 120px;
		border: 1px solid rgb(251, 255, 0);
		padding: 5px;
	}
	.card .cont {
		padding-top: 5%;
		padding-left: 0;
	}
	.card .cont .detail {
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-direction: column;
	}
	.card .cont .detail .details {
		width: 300px;
	}
	.card .cont .detail h3 {
		padding-top: 5%;
		text-align: center;
		font-size: medium;
	}
	.card .cont .detail p {
		padding-left: 15%;
		font-size: small;
	}
}
@media screen and (max-width: 800px) and (orientation: landscape) {
	.card {
		width: 50%;
		padding: 4%;
	}
	.card .flag {
		float: none;
	}
	.card .flag h2 {
		font-size: large;
	}
	.card .flag img {
		margin: auto;
		width: 200px;
		height: 120px;
		border: 1px solid #ddd;
		padding: 5px;
	}
	.card .cont {
		padding-top: 5%;
		padding-left: 0;
	}
	.card .cont .detail {
		display: flex;
		align-items: stretch;
		justify-content: center;
		flex-direction: column;
	}
	.card .cont .detail h3 {
		padding-top: 5%;
		text-align: center;
		font-size: medium;
	}
	.card .cont .detail p {
		padding-left: 15%;
		font-size: small;
	}
}
@media screen and (min-width: 800px) and (max-width: 1500px) {
	.card {
		width: 80%;
		padding: 4%;
	}
	.card .flag {
		width: 50%;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.card .flag h2 {
		font-size: 25px;
	}
	.card .flag img {
		width: 250px;
		height: 150px;
		border: 1px solid #ddd;
		padding: 5px;
	}
	.card .cont {
		padding-left: 0;
		padding-top: 25px;
	}
	.card .cont .detail .details {
		width: 160px;
		float: left;
	}
	.card .cont .detail h3 {
		font-size: 20px;
	}
	.card .cont .detail p {
		font-size: 15px;
	}
}
@media screen and (min-width: 1500px) and (max-width: 1700px) {
	.card .flag {
		width: 50%;
		float: left;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
	.card .flag h2 {
		font-size: 25px;
	}
	.card .flag img {
		width: 250px;
		height: 150px;
		border: 1px solid #ddd;
		padding: 5px;
	}
	.card .cont {
		padding-left: 0;
		padding-top: 25px;
	}
	.card .cont .detail .details {
		width: 160px;
		float: left;
	}
	.card .cont .detail h3 {
		font-size: 20px;
	}
	.card .cont .detail p {
		font-size: 15px;
	}
} /*# sourceMappingURL=Card.module.css.map */
